{# src/OC/CoreBundle/Resources/views/Default/index.html.twig #}

{% extends "XifCoreBundle::layout.html.twig" %}

{% block body %}
<div class="row">
	<aside class="col-lg-3">
		<ul class="list-group">
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<a href="{{ path('xif_soundorganiser_homepage') }}" class="list-group-item">
					Mes projets
				</a>
				<a href="{{ path('xif_soundorganiser_makeprojectpage') }}" class="list-group-item">
					Nouveau projet
				</a>
				<a href="{{ path('xif_soundorganiser_downloadpage') }}" class="list-group-item">
					Télécharger la version offline
				</a>
			{% endif %}
			{#<a href="{{ path('xif_core_explorepage') }}" class="list-group-item">
				Explorer les projets publics
			</a>#}
			<a href="{{ path('xif_core_help') }}" class="list-group-item">
				Aide
			</a>
		</ul>
	</aside>
	<section class="col-lg-9">
		<article>
			<p>
				SoundOrganiser est une solution gratuite pour la diffusion de musique lors d'évenements.
			</p>
			<h3>Fonctionnalités</h3>
			<ul>
				<li>Lecture de fichiers aux formats mp3 et ogg</li>
				<li>Fondu en sortie et/ou en entrée</li>
				<li>Lecture aléatoire</li>
				<li>Lancement automatique du son suivant si besoin</li>
				<li>Arrèt / lancement pendant la lecture avec fondus</li>
				<li>Vitesse de fondu sélectionnable</li>
				<li>Modification du volume sans bruits parasites et progressivement.</li>
				<li>Contrôle intégral au clavier</li>
			</ul>
		</article>
		
		<div id="actus" class="panel-group">
			<h3>
				Actualités
			</h3>

			{% for actu in actus %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a class="accordion-toggle" href="#actu{{ actu.id }}" data-parent="#actus" data-toggle="collapse">
								{{ actu.titre }}
							</a>
						</h3>
					</div>
					<div id="actu{{ actu.id }}" class="panel-collapse collapse{% if loop.first %} in{% endif %}">
						<div class="panel-body">
							{{ actu.contenu|raw }}
							<hr>
							<p>
								Écrit par {{ actu.auteur.username }}
								le {{ actu.datePublication|date('d/m/Y à H:i') }}.
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<p><a href="{{ path('xif_core_viewactu', {'id': 1}) }}" class="btn btn-default">Toutes les actus</a></p>
	</section>
</div>
{% endblock %}
