{% extends "XifCoreBundle::layout.html.twig" %}

{% block title %}
	{{ project.title }} – Edit – {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<aside class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Sons</h3>
				</div>
				<div class="list-group" id="songList">
					{% for song in project.songLines %}
						<li class="list-group-item{% if loop.first %} list-group-item-info{% endif %}">
							<song>{{ song.name }}</song>
							<descr>{{ song.description }}</descr>
							<span></span>
						</li>
					{% endfor %}
				</div>
			</div>
		</aside>
		<article class="col-lg-8">
			<h2 id="projTitle">{{ project.title }}</h2>
			<h4 id="projDescr"{% if project.description is empty %} class="help-block">Pas de description{% else %}>{{ project.description }}{% endif %}</h4>
			<div class="btn-group">
				<a href="{{ path('xif_soundorganiser_playpage', {'id': project.id}) }}" class="btn btn-primary">Lire</a>
				<input type="button" onclick="addSong();" value="Ajouter un son" class="btn btn-primary">
				<input type="button" onclick="removeThisSong();" value="Retirer ce son" class="btn btn-danger">
			</div>
			<form id="songForm" class="well">
				<h5 id="songName">{{ project.songLines[0].name }}</h5>
				<h6 id="songDescr"{% if project.songLines[0].description is empty %} class="help-block">Pas de description{% else %}>{{ project.songLines[0].description }}{% endif %}</h6>
				<input type="button" id="chooseFile" value="Choisir un fichier" class="btn btn-primary btn-sm">
				<label for="chooseFile" id="choosedFile"></label><br>
				<input type="button" id="chooseTrans" value="Choisir la transition" class="btn btn-primary btn-sm">
				<label for="chooseTrans" id="choosedTrans"></label><br>
				<label for="songVol">Volume (entre 0 et 1)</label>
				<span id="songVol">{{ project.songLines[0].vol }}</span>
			</form>
		</article>
	</div>
	<div id="popUp" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">x</button>
					<div id="popUpButtons" class="modal-title"></div>
				</div>
				<div id="popUpModif" class="modal-body"></div>
				<div class="modal-footer">
					<div class="btn-group">
						<input class="btn btn-primary" type="button" onclick="endEdit();" id="validerPopUp" value="Valider">
						<input class="btn btn-warning" type="button" value="Annuler" data-dismiss="modal">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/xifsoundorganiser/edit.js') }}"></script>
	<script>
		$(function(){
			window.PROJECT = {{ project.json|raw }};
			window.baseURL = "{{ path('xif_file_get_base') }}";
			open_proj();
		});
	</script>
{% endblock %}

{% block styles %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/xifsoundorganiser/edit.css') }}">
{% endblock %}