{# src/OC/SoundOrganiserBundle/Resources/views/Default/index.html.twig #}

{% extends "XifCoreBundle::layout.html.twig" %}

{% block title %}
	Mes projets – {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h2>Mes projets</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<a href="{{ path('xif_soundorganiser_makeprojectpage') }}" class="btn btn-primary">Nouveau</a>
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Description</th>
						<th>Créé le</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
						<tr>
							<td>{{ project.title }}</td>
							<td>{{ project.description }}</td>
							<td>{{ project.dateCreation|date('d/m/Y') }}</td>
							<td>
								<div class="btn-group">
									<a href="{{ path('xif_soundorganiser_playpage', {'id': project.id}) }}" class="btn btn-success">Lire</a>
									<a href="{{ path('xif_soundorganiser_edit', {'id': project.id}) }}" class="btn btn-primary">Éditer</a>
									<a href="{{ path('xif_soundorganiser_delete', {'id': project.id}) }}" onclick="return confirm('Toute suppression est définitive.\nVoulez vous supprimer ce projet?')" class="btn btn-danger">Supprimer</a>
								</div>
							</td>
						</tr>
					{% else %}
						<tr><td colspan="4">Vous n'avez pas encore de projets</td></tr>
					{% endfor %}
				</tbody>
			</table>
			<a href="{{ path('xif_soundorganiser_makeprojectpage') }}" class="btn btn-primary">Nouveau</a>
		</div>
	</div>
{% endblock %}

{% block styles %}
	{{ parent() }}
{% endblock %}