{# src/Xif/UserBundle/Resources/views/Admin/layout.html.twig #}

{# On étend notre layout #}
{% extends "XifCoreBundle::layout.html.twig" %}

{% block title %}Administration – {{ parent() }}{% endblock %}

{% block body %}
	<aside class="col-lg-4">
		<ul class="list-group">
			<a href="{{ path('xif_user_viewusers') }}" class="list-group-item">Voir les utilisateurs</a>
			<a href="{{ path('xif_user_viewfiles') }}" class="list-group-item">Voir les fichiers</a>
			<a href="{{ path('xif_core_explorepage', {'admin': 'true'}) }}" class="list-group-item">Voir les projets</a>
			<a href="{{ path('xif_core_newactu') }}" class="list-group-item">Publier une actualité</a>
			{% if is_granted('ROLE_SUPER_ADMIN') %}
				<a href="{{ asset('app_dev.php') }}" class="list-group-item">Controleur frontal de développement</a>
			{% endif %}
		</ul>
	</aside>
	<article class="col-lg-8">
		<h2>Administration</h2>
		{% block admin_content %}
		{% endblock admin_content %}
	</article>
{% endblock %}